[Unit]
Description=Configure Caps Lock
PartOf=xorg.target graphical-session.target
After=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/bin/caps-escape.sh
Slice=app.slice

[Install]
WantedBy=xorg.target
