[Unit]
Description=X11 clipboard manager
PartOf=xorg.target graphical-session.target
After=graphical-session.target

[Service]
Type=simple
Restart=on-failure
RestartSec=3s
ExecStart=/usr/bin/xfce4-clipman
Slice=app.slice

[Install]
WantedBy=xorg.target
