[Unit]
Description=Apply the session cursor theme
PartOf=user-graphical-session.target graphical-session.target
After=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/bin/set-cursor-theme.sh --session
Slice=app.slice

[Install]
WantedBy=user-graphical-session.target
