[Unit]
Description=Load Hyprland plugins
PartOf=wayland.target graphical-session.target
After=graphical-session.target
ConditionEnvironment=HYPRLAND_INSTANCE_SIGNATURE
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/hyprpm reload
Slice=app.slice

[Install]
WantedBy=wayland.target
