[Unit]
Description=NetworkManager applet
PartOf=user-graphical-session.target graphical-session.target
After=graphical-session.target

[Service]
Type=simple
Restart=on-failure
RestartSec=3s
ExecStart=/usr/bin/nm-applet
Slice=app.slice

[Install]
WantedBy=user-graphical-session.target
