[Unit]
Description=Enable Num Lock
PartOf=xorg.target graphical-session.target
After=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/numlockx
Slice=app.slice

[Install]
WantedBy=xorg.target
