[Unit]
Description=Apply power profiles when AC changes
PartOf=user-graphical-session.target graphical-session.target
After=graphical-session.target

[Service]
Type=simple
Restart=on-failure
RestartSec=3s
ExecStart=%h/bin/pmgmt.sh --monitor
Slice=app.slice

[Install]
WantedBy=user-graphical-session.target
