[Unit]
Description=Maintain game launcher symlinks
PartOf=user-graphical-session.target graphical-session.target
After=graphical-session.target

[Service]
Type=simple
Restart=on-failure
RestartSec=3s
ExecStart=%h/bin/symlink_unfuckd
Slice=app.slice

[Install]
WantedBy=user-graphical-session.target
