/* bat ~cfg/gtk-3.0/gtk.css if using gradience*/

* {
    font-family: "Symbols Nerd Font", "sans-serif";
    font-size: 13px;
}

window#waybar.topbar {
    background-color: transparent;
    color: @accent_fg_color;
    transition-property: background-color;
    /* transition-duration: 0.5s; */
    transition-duration: 0ms;
}

tooltip {
    background-color: @dialog_bg_color;
}
tooltip label {
    color: @accent_fg_color;
}

.modules-left,
.modules-center {
    background-color: @shade_color;
}
.modules-left {
    border-radius: 0px 0px 10px 0px;
}
.modules-center {
    padding: 0px 10px;
    border-radius: 0px 0px 10px 10px;
}
/* .modules-right {
    border-radius: 0px 0px 0px 10px;
} */
.modules-right > * > * {
    background-color: @shade_color;
    padding: 0px 10px;
}
window#waybar.empty .modules-center {
    padding: 0px;
    background-color: transparent;
}
window#waybar.solo {
    background-color: @shade_color;
}
window#waybar.solo .modules-center,
window#waybar.solo .modules-left,
window#waybar.solo .modules-right > * > * {
    background-color: rgba(0, 0, 0, 0.1);
}

/*
window#waybar.kitty {
    background-color: rgba(0, 0, 0, 0.6);
}
window#waybar.kitty .modules-center,
window#waybar.kitty .modules-left,
window#waybar.kitty .modules-right > * > * {
    background-color: rgba(128, 128, 128, 0.1);
}
*/
@keyframes rgb_background {
    0% {
        background-color: #ff0000;
    }
    17% {
        background-color: #ffff00;
    }
    33% {
        background-color: #00ff00;
    }
    50% {
        background-color: #00ffff;
    }
    67% {
        background-color: #0000ff;
    }
    83% {
        background-color: #ff00ff;
    }
    100% {
        background-color: #ff0000;
    }
}
@keyframes rgb_border_bottom {
    0% {
        box-shadow: inset 0px -3px #ff0000;
    }
    17% {
        box-shadow: inset 0px -3px #ffff00;
    }
    33% {
        box-shadow: inset 0px -3px #00ff00;
    }
    50% {
        box-shadow: inset 0px -3px #00ffff;
    }
    67% {
        box-shadow: inset 0px -3px #0000ff;
    }
    83% {
        box-shadow: inset 0px -3px #ff00ff;
    }
    100% {
        box-shadow: inset 0px -3px #ff0000;
    }
}
@keyframes rgb_border_right {
    0% {
        box-shadow: inset -3px -3px #ff0000;
    }
    17% {
        box-shadow: inset -3px -3px #ffff00;
    }
    33% {
        box-shadow: inset -3px -3px #00ff00;
    }
    50% {
        box-shadow: inset -3px -3px #00ffff;
    }
    67% {
        box-shadow: inset -3px -3px #0000ff;
    }
    83% {
        box-shadow: inset -3px -3px #ff00ff;
    }
    100% {
        box-shadow: inset -3px -3px #ff0000;
    }
}

#workspaces button,
#taskbar button {
    color: @accent_fg_color;
    transition-duration: 0ms;
    border-radius: 0px;
    margin: 0px;
    border: none;
    padding: 2px 10px;
}
#taskbar button:last-child {
    border-radius: 0px 0px 10px 0px;
}
/* fun fact: using an animated gradient border uses a lot of CPU */
#workspaces button.active,
#taskbar button.active {
    /* #animation-name: rgb_border_bottom; */
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    box-shadow: inset 0px -3px @accent_bg_color;
}
#taskbar button.active:last-child {
    /* animation-name: rgb_border_right; */
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    box-shadow: inset -3px -3px @accent_bg_color;
}
#workspaces button.active:hover,
#taskbar button.active:hover {
    animation-name: rgb_background;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    box-shadow: inset 0px -3px @accent_color;
}
#taskbar button.active:last-child:hover {
    box-shadow: inset -3px -3px @accent_color;
}

#pulseaudio {
    border-radius: 0px 0px 0px 10px;
}
#pulseaudio.bluetooth {
    box-shadow: inset 3px -3px @blue_3;
}
/* #pulseaudio.muted {
    box-shadow: inset 3px -3px @warning_bg_color;
}*/
#mpris.brave,
#mpris.firefox,
#mpris.vlc {
    box-shadow: inset 0px -3px @orange_3;
}
#mpris.chromium,
#mpris.chrome {
    box-shadow: inset 0px -3px @blue_1;
}
#mpris.mpv,
#mpris.io {
    box-shadow: inset 0px -3px @purple_3;
}
#mpris.paused {
    box-shadow: inset 0px -3px @warning_bg_color;
}
#bluetooth {
    border-radius: 0px 0px 10px 0px;
    padding-right: 13px;
    margin-right: 5px;
}
#bluetooth.connected {
    box-shadow: inset -3px -3px @blue_3;
}
#bluetooth.disabled,
#bluetooth.off {
    box-shadow: inset -3px -3px @destructive_bg_color;
}

#memory {
    border-radius: 0px 0px 0px 10px;
}
#memory.warning {
    box-shadow: inset 3px -3px @warning_bg_color;
}
#memory.critical {
    box-shadow: inset 3px -3px @destructive_bg_color;
}
#battery,
#custom-battery {
    border-radius: 0px 0px 10px 0px;
}
#battery.harging,
#battery.plugged,
#custom-battery.Charging,
#custom-battery.PendingCharge {
    box-shadow: inset -3px -3px @success_bg_color;
}
#battery.warning:not(.Charging),
#custom-battery.warning:not(.Charging) {
    box-shadow: inset -3px -3px @warning_bg_color;
}
#battery.critical:not(.Charging),
#custom-battery.critical:not(.Charging) {
    box-shadow: inset -3px -3px @destructive_bg_color;
}

#clock {
    margin-left: 5px;
    border-radius: 0px 0px 0px 10px;
}
#custom-weather {
    border-radius: 0px 0px 10px 0px;
}

#custom-supergfx_status {
    margin-left: 5px;
    padding: 0px 5px 0px 10px;
    border-radius: 0px 0px 0px 10px;
}
#custom-pointer {
    padding: 0px 10px 0px 5px;
    border-radius: 0px 0px 10px 0px;
}

#keyboard-state {
    padding: 0.1px;
    /* background-color: transparent; */
}
#keyboard-state label.unlocked {
    /* background-color: @shade_color; */
    padding: 10px 10px;
    /*font-size: 13px;*/
}

#keyboard-state label {
    background-color: transparent;
    /*font-size: 0;*/
    padding: 0px;
}

#tray {
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 0px;
    border-radius: 0px 0px 0px 10px;
}
/* #tray > * {
    border: 1px solid red;
} */
