/* bat ~cfg/gtk-3.0/gtk.css if using gradience*/
* {
    font-family: "Symbols Nerd Font", "sans-serif";
    font-size: 13px;
}

window#waybar.topbar {
    background-color: transparent;
    color: @accent_fg_color;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: @shade_color;
}
.modules-left {
    border-radius: 0px 0px 10px 0px;
}
.modules-center {
    border-radius: 0px 0px 10px 10px;
}
.modules-right {
    border-radius: 0px 0px 0px 10px;
}

button {
    transition-duration: 0ms;
    border: 3px solid transparent;
    padding: 0px 7px;
}
button:hover {
    /* box-shadow: inset -3px 0px @accent_bg_color, inset 0px -3px @accent_bg_color,
        inset 3px 0px @accent_bg_color, inset 0px 3px @accent_bg_color; */
}

#workspaces button.focused,
#workspaces button.active,
#taskbar button.active {
    background-color: @accent_bg_color;
    font-weight: bold;
    /* border: 3px solid @accent_bg_color; */
    /* box-shadow: inset 0px -3px @accent_color; */
}

#workspaces button.focused:hover,
#workspaces button.active:hover,
#taskbar button.active:hover {
    border: 3px solid @accent_color;
    animation-name: active_button;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
    /* box-shadow: inset -3px 0px @accent_color, inset 0px -3px @accent_color,
        inset 3px 0px @accent_color, inset 0px 3px @accent_color; */
}

#workspaces button.visible {
    border: 3px solid @accent_fg_color;
}
/* linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 255, 0, 1) 16.66%,
        rgba(0, 255, 0, 1) 33.33%,
        rgba(0, 255, 255, 1) 50%,
        rgba(0, 0, 255, 1) 66.66%,
        rgba(255, 0, 255, 1) 83.33%,
        rgba(255, 0, 0, 1) 100%
    ); */
@keyframes active_button {
    0% {
        background-color: #ff0000;
    }
    17% {
        background-color: #ffff00;
    }
    33% {
        background-color: #00ff00;
    }
    50% {
        background-color: #00ffff;
    }
    67% {
        background-color: #0000ff;
    }
    83% {
        background-color: #ff00ff;
    }
    100% {
        background-color: #ff0000;
    }
}

window#waybar.empty #window {
    background-color: white;
}
