$window_background: transparent;
$background: #222222;

$widget_padding: 10px;
$widget_radius: 6px;

$sel_background: #6d4de2;
$visible_background: #392093;

window {
    background-color: $window_background;
}

.bar_box {
    padding-left: $widget_padding;
    padding-right: $widget_padding;
}

.bar_widget {
    background-color: $background;
    padding-left: $widget_padding;
    padding-right: $widget_padding;
    border-radius: 0px 0px $widget_radius $widget_radius;
}

.workspace-visible-true {
    background-color: $visible_background;
}
.workspace-active-false {
    background-color: black;
}
.workspace-active-true {
    background-color: $sel_background;
}

.battery-full, .battery-pending-charge {
    border: 1px solid transparent;
}
.battery-charging {
    border: 1px solid green;
}
.battery-discharging {
    border: 1px solid yellow;
}
.battery-unknown, .battery-empty {
    border: 1px solid red;
}
