[Desktop Entry]
Type=Application
Name=Xwayland Video Bridge  (on ARCH)
Name[ca]=Pont de vídeo de l'Xwayland  (on ARCH)
Name[ca@valencia]=Pont de vídeo d'XWayland  (on ARCH)
Name[cs]=Propojení videa Xwayland  (on ARCH)
Name[de]=Xwayland-Video-Brücke  (on ARCH)
Name[en_GB]=Xwayland Video Bridge  (on ARCH)
Name[eo]=Xwayland Video-Ponto  (on ARCH)
Name[es]=Pasarela de vídeo Xwayland  (on ARCH)
Name[eu]=Xwayland bideo zubia  (on ARCH)
Name[fi]=Xwayland-videosilta  (on ARCH)
Name[fr]=Pont vidéo XWayland  (on ARCH)
Name[gl]=Ponte de vídeo de XWayland  (on ARCH)
Name[it]=Bridge video Xwayland  (on ARCH)
Name[ka]=Xwayland-ის ვიდეოხიდი  (on ARCH)
Name[ko]=Xwayland 비디오 브리지  (on ARCH)
Name[nl]=Xwayland video-bridge  (on ARCH)
Name[nn]=Xwayland-videobru  (on ARCH)
Name[pt]=Interface de Vídeo para o Xwayland  (on ARCH)
Name[pt_BR]=Ponte de vídeo Xwayland  (on ARCH)
Name[sk]=Xwayland video most  (on ARCH)
Name[sl]=Xwayland Video Bridge  (on ARCH)
Name[sv]=Xwayland videobrygga  (on ARCH)
Name[tr]=Xwayland Video Köprüsü  (on ARCH)
Name[uk]=Відеомісток Xwayland  (on ARCH)
Name[x-test]=xxXwayland Video Bridgexx  (on ARCH)
Name[zh_CN]=Xwayland 视频桥接程序  (on ARCH)
GenericName=Share screens and windows to XWayland applications  (on ARCH)
GenericName[ca]=Comparteix pantalles i finestres amb les aplicacions XWayland  (on ARCH)
GenericName[ca@valencia]=Compartix pantalles i finestres amb les aplicacions XWayland  (on ARCH)
GenericName[de]=Bildschirme und Fenster mit XWayland-Anwendungen teilen  (on ARCH)
GenericName[en_GB]=Share screens and windows to XWayland applications  (on ARCH)
GenericName[eo]=Kunhavigi ekranojn kaj fenestrojn al XWayland-aplikaĵoj  (on ARCH)
GenericName[es]=Compartir pantallas y ventanas con las aplicaciones XWayland  (on ARCH)
GenericName[eu]=XWayland aplikazioekin pantailak eta leihoak partekatzea  (on ARCH)
GenericName[fi]=Jaa näyttöjä ja ikkunoita Xwayland-sovelluksiin  (on ARCH)
GenericName[fr]=Partager des écrans et des fenêtres entre applications sous XWayland  (on ARCH)
GenericName[gl]=Compartir pantallas e xanelas con aplicacións de XWayland  (on ARCH)
GenericName[it]=Condividi schermate e finestre con le applicazioni XWayland  (on ARCH)
GenericName[ka]=გაუზიარეთ ეკრანები და ფანჯრები XWayland-ის აპლიკაციებს  (on ARCH)
GenericName[ko]=XWayland 앱으로 화면과 창 공유  (on ARCH)
GenericName[nl]=Schermen en vensters delen met XWayland toepassingen  (on ARCH)
GenericName[nn]=Del skjermar og vindauge med XWayland-program  (on ARCH)
GenericName[pt]=Partilhar ecrãs e janelas com as aplicações do XWayland  (on ARCH)
GenericName[pt_BR]=Compartilhe telas e janelas com aplicativos XWayland  (on ARCH)
GenericName[sl]=Deljenje zaslonov in oken z aplikacijami XWayland  (on ARCH)
GenericName[sv]=Dela skärmar och fönster med XWayland-program  (on ARCH)
GenericName[tr]=Ekranları ve pencereleri XWayland uygulamalarına paylaş  (on ARCH)
GenericName[uk]=Спільне користування екранами та вікнами для програм XWayland  (on ARCH)
GenericName[x-test]=xxShare screens and windows to XWayland applicationsxx  (on ARCH)
GenericName[zh_CN]=分享屏幕和窗口给 XWayland 应用程序  (on ARCH)
Icon=xwaylandvideobridge
Exec=/usr/bin/distrobox-enter  -n ARCH --   xwaylandvideobridge
StartupNotify=false
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
StartupWMClass=xwaylandvideobridge
