[Desktop Entry]
Type=Application
Name=Xwayland Video Bridge  (on ARCH)
GenericName=Share screens and windows to XWayland applications  (on ARCH)
Icon=xwaylandvideobridge
TryExec=distrobox
Exec=/usr/bin/distrobox-enter  -n ARCH --   xwaylandvideobridge
StartupNotify=false
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
StartupWMClass=xwaylandvideobridge
