[Desktop Entry]

Name=KolourPaint  (on ARCH)
Name[ar]=الرسام  (on ARCH)
Name[be]=KolourPaint  (on ARCH)
Name[bg]=KolourPaint  (on ARCH)
Name[br]=KolourPaint  (on ARCH)
Name[bs]=KolurPaint  (on ARCH)
Name[ca]=KolourPaint  (on ARCH)
Name[ca@valencia]=KolourPaint  (on ARCH)
Name[cs]=KolourPaint  (on ARCH)
Name[cy]=KolourPaint  (on ARCH)
Name[da]=KolourPaint  (on ARCH)
Name[de]=KolourPaint  (on ARCH)
Name[el]=KolourPaint  (on ARCH)
Name[en_GB]=KolourPaint  (on ARCH)
Name[eo]=KolourPaint  (on ARCH)
Name[es]=KolourPaint  (on ARCH)
Name[et]=KolourPaint  (on ARCH)
Name[eu]=KolourPaint  (on ARCH)
Name[fa]=KolourPaint  (on ARCH)
Name[fi]=KolourPaint  (on ARCH)
Name[fr]=KolourPaint  (on ARCH)
Name[ga]=KolourPaint  (on ARCH)
Name[gl]=KolourPaint  (on ARCH)
Name[he]=KolourPaint  (on ARCH)
Name[hi]=के-कलर-पेंट  (on ARCH)
Name[hne]=के-कलर-पेंट  (on ARCH)
Name[hr]=KolourPaint  (on ARCH)
Name[hu]=KolourPaint  (on ARCH)
Name[ia]=KolourPaint  (on ARCH)
Name[is]=KolourPaint  (on ARCH)
Name[it]=KolourPaint  (on ARCH)
Name[ja]=KolourPaint  (on ARCH)
Name[ka]=KolourPaint  (on ARCH)
Name[kk]=KolourPaint  (on ARCH)
Name[km]=KolourPaint  (on ARCH)
Name[ko]=KolourPaint  (on ARCH)
Name[ku]=KolourPaint  (on ARCH)
Name[lt]=KolourPaint  (on ARCH)
Name[lv]=KolourPaint  (on ARCH)
Name[ml]=കളർപെയിന്റ്  (on ARCH)
Name[mr]=कलरपेंट  (on ARCH)
Name[ms]=KolourPaint  (on ARCH)
Name[nb]=KolourPaint  (on ARCH)
Name[nds]=KolourPaint  (on ARCH)
Name[ne]=रङ पेन्ट  (on ARCH)
Name[nl]=KolourPaint  (on ARCH)
Name[nn]=KolourPaint  (on ARCH)
Name[pa]=ਕੇ-ਰੰਗ-ਪੇਂਟ  (on ARCH)
Name[pl]=KolourPaint  (on ARCH)
Name[pt]=KolourPaint  (on ARCH)
Name[pt_BR]=KolourPaint  (on ARCH)
Name[ro]=KolourPaint  (on ARCH)
Name[ru]=KolourPaint  (on ARCH)
Name[se]=KolourPaint  (on ARCH)
Name[si]=KolourPaint  (on ARCH)
Name[sk]=KolourPaint  (on ARCH)
Name[sl]=KolourPaint  (on ARCH)
Name[sr]=Колор-сликање  (on ARCH)
Name[sr@ijekavian]=Колор-сликање  (on ARCH)
Name[sr@ijekavianlatin]=Kolor-slikanje  (on ARCH)
Name[sr@latin]=Kolor-slikanje  (on ARCH)
Name[sv]=Kolourpaint  (on ARCH)
Name[ta]=நிற பெயின்ட்   (on ARCH)
Name[tg]=KolourPaint  (on ARCH)
Name[th]=วาดภาพระบายสี-K  (on ARCH)
Name[tok]=ilo KolourPaint  (on ARCH)
Name[tr]=RenkliBoya  (on ARCH)
Name[ug]=KolourPaint  (on ARCH)
Name[uk]=KolourPaint  (on ARCH)
Name[uz]=KolourPaint  (on ARCH)
Name[uz@cyrillic]=KolourPaint  (on ARCH)
Name[vi]=KolourPaint  (on ARCH)
Name[x-test]=xxKolourPaintxx  (on ARCH)
Name[zh_CN]=KolourPaint 画图工具  (on ARCH)
Name[zh_HK]=KolourPaint  (on ARCH)
Name[zh_TW]=KolourPaint 小畫家  (on ARCH)
GenericName=Paint Program  (on ARCH)
GenericName[af]=Verf Program  (on ARCH)
GenericName[ar]=برنامج تلوين  (on ARCH)
GenericName[bg]=Графичен редактор  (on ARCH)
GenericName[br]=Goulev tresañ  (on ARCH)
GenericName[bs]=Program za slikanje  (on ARCH)
GenericName[ca]=Programa de dibuix  (on ARCH)
GenericName[ca@valencia]=Programa de dibuix  (on ARCH)
GenericName[cs]=Program pro malování  (on ARCH)
GenericName[cy]=Rhaglen Peintio  (on ARCH)
GenericName[da]=Maleprogram  (on ARCH)
GenericName[de]=Mal- und Zeichenprogramm  (on ARCH)
GenericName[el]=Πρόγραμμα ζωγραφικής  (on ARCH)
GenericName[en_GB]=Paint Program  (on ARCH)
GenericName[eo]=Pentrilo  (on ARCH)
GenericName[es]=Programa de pintura  (on ARCH)
GenericName[et]=Joonistamisprogramm  (on ARCH)
GenericName[eu]=Marrazteko programa  (on ARCH)
GenericName[fa]=برنامه رنگ  (on ARCH)
GenericName[fi]=Piirto-ohjelma  (on ARCH)
GenericName[fr]=Programme de dessin  (on ARCH)
GenericName[ga]=Clár Péinteála  (on ARCH)
GenericName[gl]=Programa de debuxo  (on ARCH)
GenericName[he]=תוכנית ציור  (on ARCH)
GenericName[hi]=पेंट प्रोग्राम  (on ARCH)
GenericName[hne]=पेंट प्रोग्राम  (on ARCH)
GenericName[hr]=Program za slikanje  (on ARCH)
GenericName[hu]=Rajzolóprogram  (on ARCH)
GenericName[ia]=Programma per pinger  (on ARCH)
GenericName[is]=Myndmálunarforrit  (on ARCH)
GenericName[it]=Programma di disegno  (on ARCH)
GenericName[ja]=ペイントプログラム  (on ARCH)
GenericName[ka]=სახატავი პროგრამა  (on ARCH)
GenericName[kk]=Сурет салу бағдарламасы  (on ARCH)
GenericName[km]=កម្មវិធី​គូរ  (on ARCH)
GenericName[ko]=그리기 프로그램  (on ARCH)
GenericName[ku]=Bernameya Nexşe Kirinê  (on ARCH)
GenericName[lt]=Piešimo programa  (on ARCH)
GenericName[lv]=Krāsošanas programma  (on ARCH)
GenericName[ml]=പെയിന്റ് പ്രോഗ്രാം  (on ARCH)
GenericName[mr]=रंग कार्यक्रम  (on ARCH)
GenericName[ms]=Program Mewarna  (on ARCH)
GenericName[nb]=Tegneprogram  (on ARCH)
GenericName[nds]=Maalprogramm  (on ARCH)
GenericName[ne]=रङ्गयाउने कार्यक्रम  (on ARCH)
GenericName[nl]=Tekenprogramma  (on ARCH)
GenericName[nn]=Teikneprogram  (on ARCH)
GenericName[pa]=ਰੰਗ ਪਰੋਗਰਾਮ  (on ARCH)
GenericName[pl]=Program Paint  (on ARCH)
GenericName[pt]=Programa de Pintura  (on ARCH)
GenericName[pt_BR]=Programa de desenho  (on ARCH)
GenericName[ro]=Program de desenare  (on ARCH)
GenericName[ru]=Простой редактор изображений  (on ARCH)
GenericName[se]=Málenprográmma  (on ARCH)
GenericName[si]=පින්තාරු වැඩසටහන  (on ARCH)
GenericName[sk]=Kresliaci program  (on ARCH)
GenericName[sl]=Program za risanje  (on ARCH)
GenericName[sr]=Програм за сликање  (on ARCH)
GenericName[sr@ijekavian]=Програм за сликање  (on ARCH)
GenericName[sr@ijekavianlatin]=Program za slikanje  (on ARCH)
GenericName[sr@latin]=Program za slikanje  (on ARCH)
GenericName[sv]=Ritprogram  (on ARCH)
GenericName[ta]=பெயிண்ட் நிரலி  (on ARCH)
GenericName[tg]=Муҳаррири графикӣ  (on ARCH)
GenericName[th]=โปรแกรมวาดภาพ  (on ARCH)
GenericName[tok]=ilo sitelen  (on ARCH)
GenericName[tr]=Boyama Uygulaması  (on ARCH)
GenericName[ug]=سىزىش پروگراممىسى  (on ARCH)
GenericName[uk]=Програма для малювання  (on ARCH)
GenericName[uz]=Chizish dasturi  (on ARCH)
GenericName[uz@cyrillic]=Чизиш дастури  (on ARCH)
GenericName[vi]=Chương trình vẽ  (on ARCH)
GenericName[wa]=Program di dessinaedje  (on ARCH)
GenericName[xh]=Udweliso lwenkqubo lwepeyinti  (on ARCH)
GenericName[x-test]=xxPaint Programxx  (on ARCH)
GenericName[zh_CN]=画图程序  (on ARCH)
GenericName[zh_HK]=繪圖程式  (on ARCH)
GenericName[zh_TW]=繪圖程式  (on ARCH)

Comment=An easy-to-use paint program
Comment[ar]=برنامج تلوين سهل الاستخدام
Comment[bg]=Лесна за изпълнение програма за изпълнение
Comment[ca]=Un programa de dibuix senzill d'usar
Comment[ca@valencia]=Un programa de dibuix senzill d'utilitzar
Comment[cs]=Snadný nástroj pro malování
Comment[da]=Et nemt tegneprogram
Comment[de]=Ein einfach zu benutzendes Mal- und Zeichenprogramm
Comment[el]=Ένα εύκολο στη χρήση πρόγραμμα ζωγραφικής
Comment[en_GB]=An easy-to-use paint program
Comment[eo]=Facile uzebla programo por pentri
Comment[es]=Un programa para pintar fácil de usar
Comment[et]=Lihtne joonistamisprogramm
Comment[eu]=Erabiltzen erraza den marrazketa programa
Comment[fi]=Helppokäyttöinen piirto-ohjelma
Comment[fr]=Un programme de dessin facile à utiliser
Comment[gl]=Un programa de debuxo fácil de usar.
Comment[hu]=Egyszerűen használható rajzprogram
Comment[ia]=Un programma pro pinger facilemente
Comment[is]=Einfalt forrit til að teikna og mála myndir
Comment[it]=Un programma di disegno semplice da usare
Comment[ka]=ადვილი სახატავი პროგრამა
Comment[ko]=사용하기 쉬운 그리기 프로그램
Comment[lt]=Paprasta piešimo programa
Comment[ml]=ലളിതമായി ഉപയോഗിക്കാവുന്ന പെയിന്റ് പ്രോഗ്രാം
Comment[nl]=Een gemakkelijk te gebruiken tekenprogramma
Comment[nn]=Eit teikneprogram som er lett å bruka
Comment[pl]=Łatwy w użyciu program do malowania
Comment[pt]=Um programa de pintura simples de usar
Comment[pt_BR]=Um programa de desenho fácil de usar
Comment[ru]=Простая в использовании программа для рисования
Comment[sk]=Jednoduchý maľovací program
Comment[sl]=Enostaven program za risanje
Comment[sv]=Ett lättanvänt ritprogram
Comment[tok]=ilo sitelen pona
Comment[tr]=Kolay kullanılır bir boyama programı
Comment[uk]=Проста у користуванні програма для малювання
Comment[x-test]=xxAn easy-to-use paint programxx
Comment[zh_CN]=一款简易画图程序
Comment[zh_TW]=易於使用的繪圖程式

Icon=kolourpaint

Type=Application
Exec=/usr/bin/distrobox-enter  -n ARCH --   kolourpaint  %u
X-DocPath=kolourpaint/index.html
StartupWMClass=kolourpaint

# SYNC: Run kolourpaint --mimetypes
MimeType=application/x-krita;application/x-navi-animation;image/avif;image/bmp;image/gif;image/heif;image/jpeg;image/jxl;image/openraster;image/png;image/svg+xml;image/svg+xml-compressed;image/tiff;image/vnd.adobe.photoshop;image/vnd.microsoft.icon;image/vnd.wap.wbmp;image/webp;image/x-eps;image/x-exr;image/x-hdr;image/x-icns;image/x-mng;image/x-pcx;image/x-pic;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-rgb;image/x-sun-raster;image/x-tga;image/x-xbitmap;image/x-xcf;image/x-xpixmap;

Categories=Qt;KDE;Graphics;2DGraphics;RasterGraphics;
