[Desktop Entry]
Name=ARCH
GenericName=Terminal entering ARCH
Comment=Terminal entering ARCH
Categories=Distrobox;System;Utility
Exec=/usr/bin/distrobox enter  ARCH
Icon=/home/vlk/.local/share/icons/distrobox/arch.png
Keywords=distrobox;
NoDisplay=false
Terminal=true
TryExec=/usr/bin/distrobox
Type=Application
