[Desktop Entry]
Name=KolourPaint  (on ARCH)
GenericName=Paint Program  (on ARCH)
Comment=An easy-to-use paint program
Icon=kolourpaint
Type=Application
TryExec=distrobox
Exec=/usr/bin/distrobox-enter  -n ARCH --   kolourpaint  %u
X-DocPath=kolourpaint/index.html
StartupWMClass=kolourpaint
# SYNC: Run kolourpaint --mimetypes
MimeType=application/x-krita;application/x-navi-animation;image/avif;image/bmp;image/gif;image/heif;image/jpeg;image/jxl;image/openraster;image/png;image/svg+xml;image/svg+xml-compressed;image/tiff;image/vnd.adobe.photoshop;image/vnd.microsoft.icon;image/vnd.wap.wbmp;image/webp;image/x-eps;image/x-exr;image/x-hdr;image/x-icns;image/x-mng;image/x-pcx;image/x-pic;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-rgb;image/x-sun-raster;image/x-tga;image/x-xbitmap;image/x-xcf;image/x-xpixmap;
Categories=Qt;KDE;Graphics;2DGraphics;RasterGraphics;
