#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Open WebUI
Exec=/usr/bin/chromium --profile-directory=Default --app-id=cpdpbfelifklonephgpieimdpcecgoen
Icon=chrome-cpdpbfelifklonephgpieimdpcecgoen-Default
StartupWMClass=crx_cpdpbfelifklonephgpieimdpcecgoen
