[Desktop Entry]
Version=1.0
Name=Vivaldi
GenericName=Web Browser
Comment=Access the Internet
TryExec=/var/lib/flatpak/exports/bin/com.vivaldi.Vivaldi
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=vivaldi --file-forwarding com.vivaldi.Vivaldi @@u %U @@
StartupWMClass=Vivaldi-stable
StartupNotify=true
Terminal=false
Icon=com.vivaldi.Vivaldi
Type=Application
Categories=Network;WebBrowser;
MimeType=application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;text/html;text/xml;x-scheme-handler/ftp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/mailto;
Actions=new-window;new-private-window;
X-Flatpak=com.vivaldi.Vivaldi

[Desktop Action new-window]
Name=New Window
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=vivaldi com.vivaldi.Vivaldi --new-window

[Desktop Action new-private-window]
Name=New Private Window
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=vivaldi com.vivaldi.Vivaldi --incognito
