[Desktop Entry]
Name=Game 1222229231367487539
Exec=/app/bin/lime3ds %u
Type=Application
NoDisplay=true
Categories=Discord;Games;
MimeType=x-scheme-handler/discord-1222229231367487539;
