[Desktop Entry]
Name=Game 505751038989434881
Exec=/usr/lib/jvm/java-8-openjdk/jre/bin/java×C€º %u
Type=Application
NoDisplay=true
Categories=Discord;Games;
MimeType=x-scheme-handler/discord-505751038989434881;
