[Desktop Entry]
Name=FEDORA
GenericName=Terminal entering FEDORA
Comment=Terminal entering FEDORA
Categories=Distrobox;System;Utility
Exec=/usr/bin/distrobox enter  FEDORA
Icon=/home/vlk/.local/share/icons/distrobox/fedora.png
Keywords=distrobox;
NoDisplay=false
Terminal=true
TryExec=/usr/bin/distrobox
Type=Application
