[Desktop Entry]
Encoding=UTF-8
Name[as]=ইনপুট পদ্ধতি নিৰ্বাচক
Name[bg]=Избиране метод за въвеждане
Name[bn_IN]=ইনপুট পদ্ধতি নির্বাচন ব্যবস্থা
Name[ca]=Eina de selecció del mètode d'entrada
Name[cs]=Přepínač metody vstupu
Name[da]=Inputmetodevælger
Name[de]=Wahl der Eingabemethode
Name[es]=Selector del método de entrada
Name[fi]=Syötemenetelmän valitsin
Name[fr]=Sélecteur de méthode de saisie
Name[gu]=ઇનપુટ પદ્દતિ પસંદકર્તા
Name[hi]=इनपुट विधि चयनक
Name[hu]=Bemeneti mód választó
Name[it]=Selettore di Input Method
Name[ja]=入力メソッドのセレクター
Name[kn]=ಇನ್‌ಪುಟ್ ವಿಧಾನ ಆಯ್ಕೆಗಾರ
Name[ko]=입력 방식
Name[ml]=ഇന്‍പുട്ട് രീതി തെരഞ്ഞെടുക്കുന്നതിനുള്ള പ്രയോഗം
Name[mr]=इंपुट मेथड नीवडक
Name[nds]=Wahl vun de Ingavmethode
Name[nl]=Invoermethode selectie
Name[or]=ନିବେଶ ପ୍ରଣାଳୀ ଚୟନକାରୀ
Name[pa]=ਇੰਪੁੱਟ ਢੰਗ ਚੋਣਕਾਰ
Name[pl]=Wybór metody wprowadzania
Name[pt_BR]=Seletor de Método de entrada
Name[ru]=Метод ввода
Name[sv]=Väljare av inmatningsmetod
Name[ta]=உள்ளீடு முறை தேர்ந்தெடுப்பாளர்
Name[te]=ఇన్పుట్ పద్ధతి యెంపిక
Name[tr]=Giriş Yöntemi Seçici
Name[uk]=Вибір способу введення
Name[zh_CN]=输入法选择器
Name[zh_TW]=輸入法選擇器
Name=Input Method Selector
Comment[ar]=اختر طريقة إدخال لاستخدامها، أو عطّل استخدام طرق الإدخال على سطح المكتب
Comment[as]=ব্যৱহাৰ কৰিব লগিয়া ইনপুট পদ্ধতি বাছক অথবা ডেস্কটপত ইনপুট পদ্ধতিৰ ব্যৱহাৰ অসামৰ্থবান কৰক
Comment[ast]=Esbilla'l métodu d'entrada a usar o desactiva los métodos d'entrada nel escritoriu.
Comment[bg]=Избор на използвания метод за въвеждане или забрана използването на метод за въвеждане в десктопа
Comment[bn_IN]=ব্যবহারযোগ্য ইনপুট পদ্ধতি নির্ধারণ করুন অথবা ডেস্কটপের মধ্যে ইনপুট পদ্ধতি নিষ্ক্রিয় করুন
Comment[ca]=Seleccioneu el mètode d'entrada a utilitzar o desactiveu els mètodes d'entrada en l'escriptori
Comment[cs]=Vyberte, která vstupní metoda se má používat, nebo vsupní metody pro používání na desktopu vypněte
Comment[da]=Vælg den inputmetode som skal være i brug eller deaktivér brugen af inputmetoden på skrivebordet
Comment[de]=Wählen Sie die Eingabemethode, welche verwendet werden soll oder deaktivieren Sie die Verwendung von Eingabemethoden auf dem Desktop
Comment[el]=Επιλέξτε μέθοδο εισαγωγής για χρήση ή απενεργοποιήστε τη χρήση μεθόδων εισαγωγής στην επιφάνεια εργασίας
Comment[en_GB]=Choose the input method to be used or disable the input method usage on the desktop
Comment[es]=Seleccione el método de entrada a utilizar o desactive los métodos de entrada en el escritorio.
Comment[fa]=انتخاب شیوه ورودی برای استفاده یا غیر فعال سازی شیوه ورودی در رومیزی
Comment[fi]=Valitse käytettävä syötemenetelmä tai kytkemiseen syöttömenetelmien käyttö pois päältä työpöytäkäytössä
Comment[fr]=Choisissez la méthode de saisie à utiliser ou désactivez l’utilisation des méthodes de saisie sur le système
Comment[gu]=વાપરવા માટેની ઈનપુટ પદ્ધતિ પસંદ કરો અથવા ડેસ્કટોપ પર ઈનપુટ પદ્ધતિનો વપરાશ નિષ્ક્રિય કરો
Comment[hi]=इनपुट विधि को प्रयोग किये जाने के लिये चुनें या डेस्कटॉप पर इनपुट विधि प्रयोग को निष्क्रिय करें
Comment[hu]=Válassza ki a használandó beviteli módot, vagy kapcsolja ki a bevitel mód használatát az asztalon
Comment[id]=Pilih metode masukan yang akan dipakai atau non-aktifkan metode masukan di desktop
Comment[it]=Scegliere il metodo di input da usare oppure disabilitare l'uso del metodo di input sul desktop
Comment[ja]=デスクトップで使用する入力メソッドを選択したり、もしくは入力メソッドの使用を無効化します。
Comment[kn]=ಗಣಕ ಪರದೆಯ ಬಳಕೆಗೆ, ಆದಾನಕ್ರಮವನ್ನು ಉಪಯೋಗಿಸಬೇಕೆ ಅಥವಾ ನಿಷ್ಕ್ರಿಯಗೊಳಿಸ ಬೇಕೆ ಎಂಬುದನ್ನು ಆಯ್ಕೆಮಾಡಿ
Comment[ko]=데스크탑에서 입력 방식 사용을 비활성화, 또는 사용 할 입력 방식 선택
Comment[mai]=इनपुट विधि केँ प्रयोग कएल जाएबाक लेल चुनू अथवा डेस्कटाप पर इनपुट विधि प्रयोग केँ निष्क्रिय  करू
Comment[ml]=ഡസ്ക്ടോപ്പില്‍ ഏത് ഇന്‍പുട്ട് രീതി ഉപയോഗിക്കണം അല്ലെങ്കില്‍ ഏത് നിര്‍ജ്ജീവമാക്കണം എന്ന് തിരഞ്ഞെടുക്കുക
Comment[mr]=वापरावयाची इनपुट पद्धती निवडण्याचे किंवा डेस्कटॉपवरील इनपुट पद्धतीचा वापर अकार्यक्षम करा
Comment[nb]=Velg hvilken inntastingsmetode som skal brukes, eller deaktiver bruk av inntastingsmetode på skrivebordet
Comment[nds]=Wähl de Ingavmethode, de brukt werrn schall or deaktiver de Verwennen vun Ingavmethoden op'm Schrievdisk.
Comment[nl]=Kies de te gebruiken invoermethode of schakel het gebruik van invoermethoden voor het bureaublad uit
Comment[or]=ବ୍ଯବହାର କରିବାକୁ ଥିବା ନିବେଶ ପ୍ରଣାଳୀକୁ ଚୟନ କରନ୍ତୁ କିମ୍ବା ଡେସ୍କଟପରେ ନିବେଶ ପ୍ରଣାଳୀର ବ୍ଯବହାର ବିଧିକୁ ନିଷ୍କ୍ରିୟ କରନ୍ତୁ
Comment[pa]=ਵਰਤਣ ਲਈ ਇੰਪੁੱਟ ਢੰਗ ਚੁਣੋ ਜਾਂ ਡੈਸਕਟਾਪ ਵਾਸਤੇ ਇੰਪੁੱਟ ਢੰਗ ਦੀ ਵਰਤੋਂ ਨੂੰ ਅਯੋਗ ਕਰੋ।
Comment[pl]=Wybór metody wprowadzania lub wyłączanie jej w środowisku graficznym
Comment[pt]=Escolha o Método de Introdução de Dados a usar ou desactive a utilização de Métodos de Introdução de Dados no ambiente de trabalho
Comment[pt_BR]=Escolha ou desabilite o método de entrada a ser usado no ambiente de trabalho
Comment[ru]=Выберите метод ввода или отключите его использование на рабочем столе
Comment[si]=වැඩතලය මත භාවිත කල යුතු අක්‍ෂර ඇතුලත් කිරීමේ ක්‍රමය තෝරාගැනීම හෝ අක්‍රීය කිරීම
Comment[sk]=Vyberte, ktorá vstupná metóda sa má používať alebo zakážte používanie vstupnej metódy na desktope
Comment[sr]=Изаберите метод уноса који ће се користити или искључите коришћење метода уноса на радној површини
Comment[sr@latin]=Izaberite metod unosa koji će se koristiti ili isključite korišćenje metoda unosa na radnoj površini
Comment[sv]=Välj inmatningsmetod att använda eller avaktivera användning av inmatningsmetod på skrivbordet
Comment[ta]=பயன்படுத்த அல்லது உள்ளீடு முறை பயன்பாட்டை பணிமேடையில் செயல்நீக்க உள்ளீடு முறையை தேர்ந்தெடுக்கவும்
Comment[te]=ఉపయోగించుటకు ఇన్‌పుట్ పద్దతిని ఎంచుకొనుము లేదా ఇన్‌పుట్ పద్దతి ఉపయోగాన్ని డెస్క్‍‌టాప్ పైన అచేతనం చేయుము
Comment[th]=เลือกระบบป้อนข้อความที่จะใช้ หรือปิดระบบป้อนข้อความบนเดสก์ท็อป
Comment[tr]=Kullanılacak giriş yöntemini seçin veya giriş yöntemi kullanımını masaüstü ortamında devre dışı bırakın
Comment[uk]=Виберіть спосіб введення або вимкніть використання способів введення
Comment[zh_CN]=选择要使用的输入法或者在桌面中禁用输入法
Comment[zh_TW]=請選擇欲使用的輸入法或是停用桌面環境所使用的輸入法
Comment=Choose the input method to be used or disable the input method usage on the desktop
Exec=im-chooser
Icon=im-chooser
Terminal=false
Type=Application
StartupNotify=true
Categories=Applications;Settings;X-GNOME-PersonalSettings;
NotShowIn=XFCE;GNOME;
NoDisplay=true
