[Desktop Entry]
Name=MPLab IDE
GenericName=Proprietary IDE
Comment=Edit code for work
TryExec=mplab_ide
Exec=mplab_ide %F
Type=Application
Keywords=mcc;code;ide;microchip;mcl;xcc;
#Icon=
Categories=Utility;Development;IDE;
StartupNotify=false
