[Desktop Entry]
Name=MPLab IDE (mplab.sh)
GenericName=Proprietary IDE
Comment=Edit code for work
TryExec=mplab_ide
Exec=mplab.sh %F
Type=Application
Keywords=mcc;code;ide;microchip;mcl;xcc;
#Icon=
Categories=Utility;Development;IDE;
StartupNotify=false
