[Desktop Entry]
X-KDE-StartupNotify=false
X-KDE-autostart-phase=2
X-GNOME-Autostart-enabled=true
#NoDisplay=true

Type=Application
Name=Xwayland Video Bridge
GenericName=Share screens and windows to XWayland applications
Icon=xwaylandvideobridge
TryExec=xwaylandvideobridge
Exec=xwaylandvideobridge
StartupNotify=false
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
