[Desktop Entry]
Version=1.0
Name=Text Editor Settings
Comment=Configure the Mousepad text editor
Exec=mousepad --preferences
Icon=org.xfce.mousepad
NoDisplay=true
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
NotShowIn=GNOME;
X-Desktop-File-Install-Version=0.26
