[Desktop Entry]
Name=GTK4 Icon Browser
Comment=An application that shows themed icons
TryExec=gtk4-icon-browser
Exec=gtk4-icon-browser
Icon=org.gtk.IconBrowser4
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;GTK;
