[Desktop Entry]
Name=GNOME Image Viewer (Loupe)
TryExec=loupe
Exec=loupe %U
Icon=org.gnome.Loupe
DBusActivatable=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;2DGraphics;RasterGraphics;Viewer;
MimeType=image/jpeg;image/png;image/gif;image/webp;image/tiff;image/x-tga;image/vnd-ms.dds;image/x-dds;image/bmp;image/vnd.microsoft.icon;image/vnd.radiance;image/x-exr;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-portable-anymap;image/x-qoi;image/svg+xml;image/svg+xml-compressed;image/avif;image/heic;image/jxl;
Keywords=Picture;Slideshow;Graphics;Loupe;Image;
StartupNotify=true
