[Desktop Entry]
Name=People Playground
Comment=Play this game on Steam
Exec=steam steam://rungameid/1118200
Icon=steam_icon_1118200
Terminal=false
Type=Application
Categories=Game;
