[Desktop Entry]
Version=1.0
Name=Xfce Terminal Settings
Comment=Configure Xfce Terminal
TryExec=xfce4-terminal
Exec=xfce4-terminal --preferences
Icon=org.xfce.terminal-settings
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
X-Desktop-File-Install-Version=0.26
NoDisplay=true
