[Desktop Entry]
Version=1.0
Name=Xfce Terminal Settings
Name[ar]=إعدادات طرفية Xfce
Name[be]=Налады тэрмінала
Name[bg]=Настройки на терминала на Xfce
Name[ca]=Ajusts del terminal de Xfce
Name[cs]=Nastavení Terminálu Xfce
Name[da]=Indstillinger for Xfce Terminal
Name[de]=Xfce Terminal-Einstellungen
Name[el]=Ρυθμίσεις Tερματικού Xfce
Name[es]=Configuración del terminal de Xfce
Name[et]=Xfce terminali seadistused
Name[eu]=Xfce terminalaren ezarpenak
Name[fi]=Xfce-päätteen asetukset
Name[fr]=Paramètres du terminal Xfce
Name[gl]=Configuración do terminal do Xfce
Name[he]=הגדרות מסוף Xfce
Name[hr]=Postavke Xfce terminala
Name[hu]=Xfce terminálbeállítások
Name[id]=Pengaturan Terminal Xfce
Name[it]=Impostazioni del terminale di Xfce
Name[ja]=Xfce ターミナル設定
Name[kk]=Xfce терминал баптаулары
Name[lt]=Xfce terminalo nustatymai
Name[nb]=Innstilling av Xfce-terminal
Name[nl]=Instellingen van Xfce Terminal
Name[pl]=Ustawienia terminala Xfce
Name[pt]=Definições do Terminal Xfce
Name[pt_BR]=Configurações do Terminal Xfce
Name[ru]=Настройки терминала Xfce
Name[sk]=Nastavenia terminálu Xfce
Name[sl]=Nastavitve za Xfce Terminal
Name[sq]=Rregullime Terminali Xfce
Name[sr]=Поставке терминала ИскФЦЕ-а
Name[sv]=Xfce terminal inställningar
Name[th]=ตั้งค่าเทอร์มินัลของ Xfce
Name[tr]=Xfce Uçbirim Ayarları
Name[uk]=Налаштування терміналу Xfce
Name[zh_CN]=Xfce 终端设置
Name[zh_TW]=Xfce 終端機設定
Comment=Configure Xfce Terminal
Comment[be]=Наладзіць Xfce Terminal
Comment[bg]=Конфигуриране на Xfce Терминал
Comment[ca]=Configureu el terminal de Xfce
Comment[cs]=Konfigurovat Terminál Xfce
Comment[da]=Konfigurer Xfce Terminal
Comment[de]=Xfce-Terminal konfigurieren
Comment[el]=Ρύθμιση του τερματικού Xfce
Comment[en_AU]=Configure Xfce Terminal
Comment[en_GB]=Configure Xfce Terminal
Comment[es]=Configure el terminal de Xfce
Comment[et]=Seadista Xfce terminali
Comment[eu]=Xfce terminala konfiguratu
Comment[fi]=Mukauta Xfce-päätettä
Comment[fr]=Configurer le terminal Xfce
Comment[gl]=Configurar o terminal Xfce
Comment[he]=הגדר מסוף Xfce 
Comment[hr]=Konfiguriraj Xfce terminal
Comment[hu]=Xfce Terminal beállítása
Comment[hy_AM]=Կազմաձեւել Xfce Վահանակը
Comment[hye]=Կազմաձեւել Xfce Վահանակը
Comment[id]=Konfigurasi Terminal Xfce
Comment[ie]=Configurar li Terminal de Xfce
Comment[is]=Stilla Xfce skjáhermi
Comment[it]=Configura il terminale di Xfce
Comment[ja]=Xfce ターミナル設定
Comment[kk]=Xfce терминалын баптау
Comment[ko]=Xfce 터미널 설정
Comment[lt]=Konfigūruoti Xfce terminalą
Comment[ms]=Konfigur Terminal Xfce
Comment[nb]=Konfigurer Xfce-terminal
Comment[nl]=Xfce Terminal instellen
Comment[oc]=Configurar Xfce Terminal
Comment[pl]=Konfiguruje terminal Xfce
Comment[pt]=Configurar terminal Xfce
Comment[pt_BR]=Configurar Terminal do Xfce
Comment[ru]=Настроить терминал Xfce
Comment[sk]=Konfigurácia terminálu Xfce
Comment[sl]=Nastavljanje Xfce terminala
Comment[sq]=Formësoni Terminalin Xfce
Comment[sr]=Подесите терминал ИксФЦЕ-а
Comment[sv]=Ställ in Xfce-Terminal
Comment[th]=ตั้งค่าเทอร์มินัล Xfce
Comment[tr]=Xfce Uçbirimi Yapılandır
Comment[uk]=Налаштування терміналу XFCE
Comment[zh_CN]=配置 Xfce 终端
Comment[zh_TW]=設定 Xfce 終端機
Exec=xfce4-terminal --preferences
Icon=org.xfce.terminal-settings
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
NotShowIn=GNOME;
X-Desktop-File-Install-Version=0.26
NoDisplay=true
