[Desktop Entry]
Version=1.0
Type=Application
Name=Zed Editor
GenericName=Text Editor
Comment=A high-performance, multiplayer code editor.
TryExec=zed
# StartupNotify=$DO_STARTUP_NOTIFY
Exec=zed
Icon=zed
Categories=Utility;TextEditor;Development;IDE;
Keywords=zed,editor,code;
MimeType=text/plain;inode/directory;
Actions=NewWorkspace;

[Desktop Action NewWorkspace]
Exec=zed --new
Name=Open a new workspace
